{
  "presets": ["flow", "react"],
  "plugins": [
    "babel-plugin-styled-components",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true
        }]
      ]
    }
  }
}