{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }],
    "flow",
    "react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true
        }]
      ]
    }
  }
}