{
  "presets": ["react"],
  "plugins": [
    "emotion",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "autoLabel": true,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    }
  }
}