node_modules/
/dist/
public/*.*

# Executable file
eosdaq-linux
eosdaq-macos
eosdaq-win.exe


# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


