node_modules/
/dist/
public/*.*

# Executable file
eosdaq-linux
eosdaq-macos
eosdaq-win.exe
/eosdaq

# Docker saved images
alien_armpit.tar
nginx.tar

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Cache loader
.cache-loader

# dotenv
.env